<div id="flash_message"></div>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<hr />

<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<hr />

<div>
  <%= render 'add_comment', :remote => true,:html => {:id => "ajax_trigger"} %>
</div>

<%= link_to "Go Back", posts_path%>

